{% extends "layout.html" %}
{% block content %}
    <h1>Skills Page</h1>
    <body>
    <div class="content-section">
    <div>enter additional skills:
    <form method="POST" action="">
    {{ form.hidden_tag() }}
        <fieldset>
            <div class="form-group">
                {% if form.content.errors %}
                    {{ form.content(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
    </form>
    </div>
    </div>
    </body>
{% endblock content %}