<!DOCTYPE html>
<html>
<script >
    $("button").click(function () {
            $.get("http://d4897233.ngrok.io/flavors", function (data, status) {
                console.log(status);
                var text = '';
                text += '<div>';
                $.each(data, function (index, value) {
                    text += '<ul>';
                    text += value.name;
                    text += '</ul>';
                });
                text += '<div>';
                $('#main').append(text)
            });

        });
</script>
<div id="main">
<button onclick="rumiSendJoke">Alert the value of each list item</button>
</div>
</html>